<h1>Enter Track</h1>

<div class="col-md-12">
    <div class="box box-solid box-primary">
        <div class="box-header with-border"><i class="fa fa-lock"></i>
            <h3 class="box-title ng-scope">Enter current track</h3></div>
        <div class="box-body">

            <form (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input [(ngModel)]="title" type="text" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="artist">Artist</label>
                    <input [(ngModel)]="artist" type="text" class="form-control" required />
                </div>
                
                <button type="submit" class="btn btn-primary">
                    Add Track
                </button>
            </form>
        </div>
    </div>
</div>