<bars-header></bars-header>


<nav class="navbar navbar-default ">
    <div class="container">
        <ul class="nav navbar-nav">
            <div class="btn-group">
                <button class="btn btn-default" (click)="hideMap()">Bars</button>
                <button class="btn btn-default" (click)="displayMap()">Karte</button>
            </div>
        </ul>
    </div>
</nav>

<bars-list *ngIf="!showMap" [bars]="bars"></bars-list>

<bars-map *ngIf="showMap" [location]="myLocation" [bars]="bars"></bars-map>