<div class="table-responsive">
    <div class="table" *ngFor="#bar of bars">
        <div align="left" class="panel">
            <img style="object-fit: contain" class="img-fluid pull-left" [src]="bar.doc.imageUrl" alt="" />
            <a [routerLink]="['BarDetail', {id: bar.doc.id}]" class="">
                {{bar.doc.name}}
            </a>
            <p class="">
                Entfernung: <b>{{bar.dist| round}}m</b>
            </p>
            <p>
                {{bar.doc.lastTrack.artist}} - {{bar.doc.lastTrack.title}} 
            </p>
        </div>
    </div>
</div>