<div class="row" *ngIf="bars.length == 0">
    <div class="col-sm-2 col-sm-offset-5">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw text-center"></i>
    </div>
</div>

<div class="table-responsive">
    <div class="table" *ngFor="#bar of bars">
        <div class="panel media">
            <div class="media-left bar-list-image">
                <img [src]="bar.doc.imageUrl" alt="" />
            </div>
            <div class="media-body">
                <a [routerLink]="['BarDetail', {id: bar.doc.id}]" class="">
                    <h4 class="media-heading">{{bar.doc.name}}</h4>
                </a>
                <p class="">
                    Entfernung: <b>{{bar.dist| round}}m</b>
                </p>
                <p>
                    {{bar.doc.lastTrack.artist}} - {{bar.doc.lastTrack.title}}
                </p>
            </div>
        </div>
    </div>
</div>