<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<!--<link rel="stylesheet" href="../../css/profile.css">-->

<div class="container">
	<div class="row">
		<div class="col-lg-4 col-lg-offset-3 col-sm-6 col-sm-offset-3">
            <div class="card box hovercard">
              <img class="cardheader" alt = ""[src]="profile.picture" />
                 <div class="avatar">
                    <img alt="" [src]="profile.picture">
                </div>
                <div class="info">
                    <div class="title">
                        <a>{{profile.given_name}}</a>
                    </div>
                    <div class="desc">{{profile.family_name}}</div>

                    <div class= "col-md-6">
                      <p>
                        Deine Tags: <a>{{profile.tagCounter}}</a>
                      </p>
                    </div>
                    <div class="cod-md-6">
                      <p>
                        First Tags: <a>{{profile.firstTagCounter}}</a>
                      </p>
                    </div>

                    <div class="row my_featureRow">
                        <div class="col-xs-12 col-sm-8 col-md-offset-2">
                            <div class="row">
                                <div class="col-xs-4 col-sm-4 my_planFeature my_plan1">
                                    <i class="glyphicon glyphicon-certificate"></i>
                                </div>
                                <div class="col-xs-4 col-sm-4 my_planFeature my_plan1">
                                    <i class="glyphicon glyphicon-glass"></i>
                                </div>
                                <div class="col-xs-4 col-sm-4 my_planFeature my_plan1">
                                    <i class="glyphicon glyphicon-signal"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row my_featureRow ">
                        <div class="col-xs-12 col-sm-8 col-md-offset-2">
                            <div class="row">
                                <div class="col-xs-4 col-sm-4 my_planFeature my_plan2">
                                    <i class="fa-heart"></i>
                                </div>
                                <div class="col-xs-4 col-sm-4 my_planFeature my_plan2">
                                    <i class="glyphicon glyphicon-music"></i>
                                </div>
                                <div class="col-xs-4 col-sm-4 my_planFeature my_plan2">
                                    <i class="fa-plug"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row my_featureRow ">
                        <div class="col-xs-12 col-sm-8 col-md-offset-2">
                            <div class="row">
                                <div class="col-xs-4 col-sm-4 my_planFeature my_plan3">
                                    <i class="fa-diamond"></i>
                                </div>
                                <div class="col-xs-4 col-sm-4 my_planFeature my_plan3">
                                    <i class="fa-heart"></i>
                                </div>
                                <div class="col-xs-4 col-sm-4 my_planFeature my_plan3">
                                    <i class="glyphicon glyphicon-fast-forward"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .card {
      padding-top: 20px;
      margin: 10px 0 20px 0;
      background-color: rgba(214, 224, 226, 0.2);
      border-top-width: 0;
      border-bottom-width: 2px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    .card .card-heading {
      padding: 0 20px;
      margin: 0;
    }

    .card .card-heading.simple {
      font-size: 20px;
      font-weight: 300;
      color: #777;
      border-bottom: 1px solid #e5e5e5;
    }

    .card .card-heading.image img {
      display: inline-block;
      width: 46px;
      height: 46px;
      margin-right: 15px;
      vertical-align: top;
      border: 0;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }

    .card .card-heading.image .card-heading-header {
      display: inline-block;
      vertical-align: top;
    }

    .card .card-heading.image .card-heading-header h3 {
      margin: 0;
      font-size: 14px;
      line-height: 16px;
      color: #262626;
    }

    .card .card-heading.image .card-heading-header span {
      font-size: 12px;
      color: #999999;
    }

    .card .card-body {
      padding: 0 20px;
      margin-top: 20px;
    }

    .card .card-media {
      padding: 0 20px;
      margin: 0 -14px;
    }

    .card .card-media img {
      max-width: 100%;
      max-height: 100%;
    }

    .card .card-actions {
      min-height: 30px;
      padding: 0 20px 20px 20px;
      margin: 20px 0 0 0;
    }

    .card .card-comments {
      padding: 20px;
      margin: 0;
      background-color: #f8f8f8;
    }

    .card .card-comments .comments-collapse-toggle {
      padding: 0;
      margin: 0 20px 12px 20px;
    }

    .card .card-comments .comments-collapse-toggle a,
    .card .card-comments .comments-collapse-toggle span {
      padding-right: 5px;
      overflow: hidden;
      font-size: 12px;
      color: #999;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .card-comments .media-heading {
      font-size: 13px;
      font-weight: bold;
    }

    .card.people {
      position: relative;
      display: inline-block;
      width: 170px;
      height: 300px;
      padding-top: 0;
      margin-left: 20px;
      overflow: hidden;
      vertical-align: top;
    }

    .card.people:first-child {
      margin-left: 0;
    }

    .card.people .card-top {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 170px;
      height: 150px;
      background-color: #ffffff;
    }

    .card.people .card-top.green {
      background-color: #53a93f;
    }

    .card.people .card-top.blue {
      background-color: #427fed;
    }

    .card.people .card-info {
      position: absolute;
      top: 150px;
      display: inline-block;
      width: 100%;
      height: 101px;
      overflow: hidden;
      background: #ffffff;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    .card.people .card-info .title {
      display: block;
      margin: 8px 14px 0 14px;
      overflow: hidden;
      font-size: 16px;
      font-weight: bold;
      line-height: 18px;
      color: #404040;
    }

    .card.people .card-info .desc {
      display: block;
      margin: 8px 14px 0 14px;
      overflow: hidden;
      font-size: 12px;
      line-height: 16px;
      color: #737373;
      text-overflow: ellipsis;
    }

    .card.hovercard {
      position: relative;
      padding-top: 0;
      overflow: hidden;
      text-align: center;
      background-color: rgba(214, 224, 226, 0.2);
    }

    .card.hovercard .cardheader {
      width:100%;
      background-size:100% cover;
      height: 145px;
      filter:blur(15px);
      -webkit-filter:blur(15px);
      -mox-filter:blur(15px);
    }
    .card.hovercard .avatar {
      position: relative;
      top: -50px;
      margin-bottom: -50px;
    }

    .card.hovercard .avatar img {
      width: 100px;
      height: 100px;
      max-width: 100px;
      max-height: 100px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      border: 5px solid rgba(255,255,255,0.5);
    }

    .card.hovercard .info {
      padding: 4px 8px 10px;
    }

    .card.hovercard .info .title {
      margin-bottom: 4px;
      font-size: 24px;
      line-height: 1;
      color: #262626;
      vertical-align: middle;
    }

    .card.hovercard .info .desc {
      overflow: hidden;
      font-size: 12px;
      line-height: 20px;
      color: #737373;
      text-overflow: ellipsis;
    }

    .card.hovercard .bottom {
      padding: 0 20px;
      margin-bottom: 17px;
    }

    .btn{ border-radius: 50%; width:32px; height:32px; line-height:18px;  }







    /* Use a wide full screen for small screens like tablets. */
    @media (min-width: 768px) and (max-width:992px) {
        .container {
            width: initial;
            padding-left: 2em;
            padding-right: 2em;
        }
    }

    /* --- Plans ---------------------------- */

    .my_planHeader {
        text-align: center;
        color: white;
        padding-top:0.2em;
        padding-bottom:0.2em;
    }
    .my_planTitle {
        font-size:2em;
        font-weight: bold;
    }
    .my_planPrice {
        font-size:1.4em;
        font-weight: bold;
    }
    .my_planDuration {
        margin-top: -0.6em;
    }

    @media (max-width: 768px) {
        .my_planTitle {
            font-size:small;
        }
    }

    /* --- Features ------------------------- */

    .my_feature {
        line-height:2.8em;
    }

    @media (max-width: 768px) {
        .my_feature {
            text-align: center
        }
     }

    .my_featureRow {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        border: 0.1em solid rgb(163, 163, 163);
    }

    /* --- Plan 1 ---------------------------
    .my_plan1 {
        background: rgb(224,234,242);
    }

    .my_planHeader.my_plan1 a {
        background: rgb(72, 109, 139);
        color:white;
    }

    .my_planHeader.my_plan1 {
        background: rgb(105, 153, 193);
        border-bottom: thick solid rgb(72, 109, 139);
    }*/

    /* --- Plan 2 ---------------------------
    .my_plan2 {
        background: rgb(230,235,218);
    }

    .my_planHeader.my_plan2 a {
        background: rgb(108, 131, 62);
        color:white;
    }

    .my_planHeader.my_plan2 {
        background: rgb(134, 162, 77);
        border-bottom: thick solid rgb(108, 131, 62);
    }*/

    /* --- Plan 3 ---------------------------
    .my_plan3 {
        background: rgb(254,235,212);
    }

    .my_planHeader.my_plan3 a {
        background: rgb(199, 127, 40);
        color:white;
    }

    .my_planHeader.my_plan3 {
        background: rgb(253, 161, 49);
        border-bottom: thick solid rgb(199, 127, 40);
    }*/




    .my_planFeature {
        text-align: center;
        font-size: 2em;
    }

    .my_planFeature i.my_check {
        color: green;
    }




</style>
